// Place all the styles related to the OwnedMovies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-movie-content{
    margin-top: 20px;
   
}

#movie-poster{
    margin-left: 207.5px;
}

#myInput {
    width: 50%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd;
    margin-bottom: 12px; 
}

#myTable {
    border-collapse: collapse;
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}