// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    text-align: center;
    margin-bottom: 10px;
}

.btn-default{
    margin-left: 25%;
    margin-top: 5px;
}

.row{
    margin-top: 20px;
}

.column{
    margin-bottom: 10px;
    padding: 0;
   

}

.poster{
    height: 30%;
    margin-left: 20%;
    max-height: 290.5px;
    width: 185px;
    border: 2px solid black;
    padding: 10px;
}


.search-box{
    width: 50%;
    margin: 0 auto;
}


.box{
    width: 100%;
    text-align: center;

}




